# ===== Made for docker compose full profile =====

MSSQL_SA_PASSWORD=CHANGE_ME_SQL_PASSWORD

RABBITMQ_USER=diploma_user
RABBITMQ_PASSWORD=CHANGE_ME_RABBITMQ_PASSWORD

JWT_SECRET=CHANGE_ME_LONG_RANDOM_JWT_SECRET


# ===== Made for dotnet watch =====

ConnectionStrings__DefaultConnection=Server=localhost,1433;Database=TutoringDb;User Id=sa;Password=CHANGE_ME_SQL_PASSWORD;TrustServerCertificate=True

RabbitMq__HostName=localhost
RabbitMq__Port=5672
RabbitMq__UserName=diploma_user
RabbitMq__Password=CHANGE_ME_RABBITMQ_PASSWORD

Jwt__SecretKey=CHANGE_ME_LONG_RANDOM_JWT_SECRET

Smtp__Host=localhost
Smtp__Port=1025